html, body {
margin: 0;
height: 100vh;
}

body {
/*height: 100vh;  sidan har inte tillräckligt med content för att fylla ut sidan. Därför la jag viewport height och width*/
/*width: 100vw;*/
background-color: red; /* For browsers that do not support gradients */
background-image: linear-gradient(to bottom, black, red);
display: flex;
flex-direction: column;
}

main {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    /*padding-top: 100px;*/
}
h1 {
    color: white;
    font-family: raleway;
    text-align: center;
    padding-top: 100px;
    /*padding: 50px;*/
}

.container { 
    display: flex;
    justify-content: space-evenly;
    width: 800px;

}

.box {
    display: flex;
    flex-direction: column;
    align-content: center;
}


.button-1 {
    background: rgb(25, 25, 25);
    color: white;
    font-family: raleway;
    display: flex;
    border-radius: 5px;
    width: 290px;
    padding: 6px;
    align-items: center;
    border: none;
}

.box-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.box-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
}


.komihåg {
    font-family: raleway;
    font-size: smaller;
    color: white;
    display: flex;
    width: auto;
}


.eller {
    color: white;
    font-family: raleway;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.container {
    font-family: raleway;
    font-size: smaller;
    color: white;

}

input[type="text"] {
width: 280px;
padding: 6px;
border-radius: 5px;
border: none;

}

.glömt {
    padding: 2px;
}

.logga-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.logga-in-google {
font-family: raleway;
width: 280px;
padding: 6px;
border-radius: 5px;
border: none;
}

.logga-in-facebook {
background: rgb(5, 117, 161);
color: white;
font-family: raleway;
width: 280px;
padding: 6px;
border-radius: 5px;
border: none;
}

.footer {
background: gray;
font-family: raleway;
font-size: 10px;
color: white;
padding: 2px;
display: flex;
flex-direction: column;
padding-left: 10px;
}

@media (max-width: 430px) {
    body {
        background: lightgray;
    }
    .container {
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
        align-items: center;

    .button-1 {
    background: rgb(255, 25, 25);
    color: white;
    font-family: raleway;
    display: flex;
    border-radius: 5px;
    width: 292px;
    padding: 6px;
    align-content: center;
    border: none;
}
    }

 

}