html, body {
margin: 0;
height: 100vh;
}

body {
/*height: 100vh;  sidan har inte tillräckligt med content för att fylla ut sidan. Därför la jag viewport height och width*/
/*width: 100vw;*/
background-color: red; /* For browsers that do not support gradients */
background-image: linear-gradient(to bottom, black, red);
display: flex;
flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: wrap;
}
h1 {
    color: white;
    font-family: raleway;
    text-align: center;
    font-size: 48px;
    margin: 100px;
}

.container { 
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 800px;

}

.box {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    text-align: center;
    font-family: raleway;
    font-weight: bold;
}
.button-1 {
    background: rgb(25, 25, 25);
    color: white;
    font-family: raleway;
    font-size: large;
    font-weight: bold;
    width: 288px;
    height: 35px;
    padding: 6px;
    border-radius: 5px;
    border: none;
}

.box-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.box-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
}


.komihåg {
    font-family: raleway;
    font-size: smaller;
    color: white;
    display: flex;
    width: auto;
}


.eller {
    color: white;
    font-family: raleway;
    font-size: 20px;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    font-family: raleway;
    font-size: smaller;
    color: white;
    display: flex;
    flex-wrap: wrap;

}

input[type="text"] {
width: 280px;
height: 35px;
padding-left: 10px;
font-size: large;
font-family: raleway;
color: rgb(242, 231, 231);
border-radius: 5px;
border: none;

}

.glömt {
    padding: 2px;
}

.logga-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.logga-in-google {
font-family: raleway;
font-size: large;
width: 280px;
height: 35px;
padding: 6px;
border-radius: 5px;
border: none;
}

.logga-in-facebook {
background: rgb(5, 117, 161);
color: white;
font-family: raleway;
font-size: large;
width: 280px;
height: 35px;
padding: 6px;
border-radius: 5px;
border: none;
}

.footer {
background: (101, 98, 98)
font-family: raleway;
font-size: 10px;
color: white;
padding: 2px;
display: flex;
flex-direction: column;
padding-left: 10px;
}

@media (max-width: 430px) {
    body {
        background: lightgray;
    }
    .container {
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
        align-items: center;
        justify-content: normal;
    }
    .flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    text-align: center;
    font-family: raleway;
    font-weight: bold;
}

    .button-1 {
    background: rgb(255, 25, 25);
    color: white;
    font-family: raleway;
    font-size: large;
    font-weight: bold;
    width: 288px;
    height: 45px;
    padding: 6px;
    border-radius: 5px;
    border: none;
}

.logga-in-google {
font-family: raleway;
font-size: large;
width: 280px;
height: 45px;
padding: 6px;
border-radius: 5px;
border: none;
}

.logga-in-facebook {
background: rgb(5, 117, 161);
color: white;
font-family: raleway;
font-size: large;
width: 280px;
height: 45px;
padding: 6px;
border-radius: 5px;
border: none;
}

h1, .box-2, .komihåg, .eller {
    color: black;
}

.footer {
background: rgb(101, 98, 98);
font-family: raleway;
font-size: 10px;
color: white;
padding: 2px;
display: flex;
flex-direction: column;
align-content: center;
justify-content: center;
padding-left: 10px;
flex-wrap: wrap;
text-align: center;
}


}